$corDePrimeirofundo:#070416;
$corDePrimeiroTitulo:#FFFF;
$corDeSegundoTitulo:#ffff;
$corDeParagrafo:#ffff;
$corDePrimeiroLink:#C3B9F5;
$corDeFundoBotaoPrimario:#1B0975;
$corDeFundoBotaoSegundario:#0063e6;
$corDeFundoBotaoDark:#070416;
