@use '_hero';
@use '_shows';
@use '_variable' as v;
@use '_plans';
@use '_watch-anywhere';
@use '_available-devices';

@font-face {
    font-family:OpenSans;
    src:url(../../assets/fonts/OpenSans_Condensed-Medium.ttf);
    font-weight:500;
}

@font-face {
    font-family:Poppins;
    src:url(../../assets/fonts/Poppins-Light.ttf);
    font-weight:300;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,body{
    height:100%;
    background-color:v.$corDePrimeirofundo;
}
@mixin text($fontSize:17px) {
    font-size:$fontSize;
    line-height:calc(#{$fontSize} + 5px);
    color:v.$corDeParagrafo;
    font-family:OpenSans,sans-serif;
}
.text--big {
    @include text(26px);
}

.text {
     @include text;
}

.text--small {
     @include text(18px);
}

@mixin titulo($fontSize: 23px) {
  font-size: $fontSize;
  line-height: calc(#{$fontSize} + 5px); // interpolação + calc()
  color:v.$corDePrimeiroTitulo;
   font-family:Poppins;
}
.titulo {
    @include titulo; 
}
.titulo-big {
    @include text(41px);
}
.titulo-small {
    @include text(18px);
}
.titulo-link {
    @include text(27px);
    color:v.$corDePrimeiroLink;
}

.hero__btn{
        margin-bottom:10px;
         text-align: center;
        border:none;
        width:223px;
        height:54px;
        background-color:#1B0975;
        cursor: pointer;
    }